fastapi
uvicorn[standard]
motor
pymongo
celery[redis]
redis
langchain
langgraph
python-dotenv
python-multipart
docker
pandas
groq
matplotlib
seaborn
plotly
python-jose
passlib[bcrypt]
openpyxl
xlrd
kaleido
scipy>=1.11.0
statsmodels>=0.14.0